<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="">Name</label>
          <input id="name" type="text" class="form-control" #nameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="">Amount</label>
          <input id="amount" type="number" class="form-control" #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <button (click)="onAddItem()" style="margin: 2px;" class="btn btn-success" type="button">Add</button>
            <button style="margin: 2px;" class="btn btn-danger" type="button">Delete</button>
            <button style="margin: 2px;" class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
